# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# cmake build files
**/cmake/build/

# Visual Studio Code artifacts
.cache/*
.vscode/*
.history/

# Clion artifacts
cmake-build-debug/
cmake-build-release/

# IDE specific folder for JetBrains IDEs
.idea/